.mb-3{
    width: 80%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.form-container {
    display: none;
}

.visible {
    display: block;
    position:absolute;
    background-color: #212529;
    padding: 5px;
    left: 5px;
}
img {
    height: 50px;
    width: 50px;
}

header li {
    display: flex;
    justify-content: space-between;
}
header .navbar {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
    text-align: right;
    margin-right: 3%;
}

.visible {
    display: block;
    position:absolute;
    background-color: #212529;
    padding: 5px;
    left: 5px;
}

.form-edit {
    display: none;
}