

.mb-3{
    width: 80%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.form-container {
    display: none;
}

.visible {
    display: flex;
    position:absolute;
    background-color: #212529;
}


img {
    height: 50px;
    width: 50px;
}

header li {
    display: flex;
    justify-content: space-between;
}
header .navbar {
    padding-left: 15px;
    padding-right: 15px;
}
